<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.xuxiake.common.mapper.UserNetdiskMapper" >
  <resultMap id="BaseResultMap" type="group.xuxiake.common.entity.UserNetdisk" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="reg_Time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="total_Memory" property="totalMemory" jdbcType="VARCHAR" />
    <result column="used_Memory" property="usedMemory" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_Status" property="userStatus" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, sex, real_name, reg_Time, total_Memory, used_Memory, phone, 
    email, user_Status, avatar, signature
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usernetdisk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usernetdisk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="group.xuxiake.common.entity.UserNetdisk" >
    insert into usernetdisk (id, username, password, 
      sex, real_name, reg_Time, 
      total_Memory, used_Memory, phone, 
      email, user_Status, avatar, 
      signature)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{totalMemory,jdbcType=VARCHAR}, #{usedMemory,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="group.xuxiake.common.entity.UserNetdisk" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into usernetdisk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="regTime != null" >
        reg_Time,
      </if>
      <if test="totalMemory != null" >
        total_Memory,
      </if>
      <if test="usedMemory != null" >
        used_Memory,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userStatus != null" >
        user_Status,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="signature != null" >
        signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalMemory != null" >
        #{totalMemory,jdbcType=VARCHAR},
      </if>
      <if test="usedMemory != null" >
        #{usedMemory,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.xuxiake.common.entity.UserNetdisk" >
    update usernetdisk
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_Time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalMemory != null" >
        total_Memory = #{totalMemory,jdbcType=VARCHAR},
      </if>
      <if test="usedMemory != null" >
        used_Memory = #{usedMemory,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_Status = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.xuxiake.common.entity.UserNetdisk" >
    update usernetdisk
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      reg_Time = #{regTime,jdbcType=TIMESTAMP},
      total_Memory = #{totalMemory,jdbcType=VARCHAR},
      used_Memory = #{usedMemory,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_Status = #{userStatus,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--findByLoginInfo-->
  <select id="findByLoginInfo" parameterType="group.xuxiake.common.entity.UserNetdisk" resultMap="BaseResultMap">

    select * from usernetdisk
    where
    (user_status=${@group.xuxiake.common.util.NetdiskConstant@USER_STATUS_NORMAL} or user_status=${@group.xuxiake.common.util.NetdiskConstant@USER_STATUS_NOT_VERIFY} or user_status=${@group.xuxiake.common.util.NetdiskConstant@USER_STATUS_VIP})
    <if test="phone != null and phone!=''">
      and phone = #{phone}
    </if>
    <if test="email != null and email!=''">
      and email = #{email}
    </if>
    <if test="username != null and username!=''">
      and username = #{username}
    </if>
  </select>
  
  <resultMap id="ResultMapSearchFriend" type="group.xuxiake.common.entity.show.UserShowSimple">
    <result property="userId" column="user_id"></result>
    <result property="username" column="username"></result>
    <result property="avatar" column="avatar"></result>
    <result property="signature" column="signature"></result>
    <result property="sex" column="sex"></result>
  </resultMap>

  <!--搜索好友-->
  <select id="searchFriend" resultMap="ResultMapSearchFriend">
    select
      usernetdisk.id user_id,
      usernetdisk.username username,
      usernetdisk.avatar avatar,
      usernetdisk.signature signature,
      usernetdisk.sex sex
    from usernetdisk
    where
      user_status != ${@group.xuxiake.common.util.NetdiskConstant@USER_STATUS_NOT_EXIST}
    AND id != #{userId}
    AND
    (
      phone = #{key}
      OR email= #{key}
      OR username LIKE CONCAT('%',#{key},'%')
    )
  </select>
</mapper>