<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.xuxiake.common.mapper.WechatUserMapper" >
  <resultMap id="BaseResultMap" type="group.xuxiake.common.entity.WechatUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, avatar_url, city, country, gender, language, nick_name, province, openid, user_id, 
    status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_wechat_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_wechat_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="group.xuxiake.common.entity.WechatUser" >
    insert into x_wechat_user (id, avatar_url, city, 
      country, gender, language, 
      nick_name, province, openid, 
      user_id, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{avatarUrl,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="group.xuxiake.common.entity.WechatUser" >
    insert into x_wechat_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.xuxiake.common.entity.WechatUser" >
    update x_wechat_user
    <set >
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.xuxiake.common.entity.WechatUser" >
    update x_wechat_user
    set avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据openid查找微信用户 -->
  <select id="findByOpenid" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from x_wechat_user
    where openid = #{openid} AND status = ${@group.xuxiake.common.util.NetdiskConstant@DATA_NORMAL_STATUS}
  </select>

  <!-- 根据系统userId查找微信用户 -->
  <select id="findByUserId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from x_wechat_user
    where user_id = #{userId} AND status = ${@group.xuxiake.common.util.NetdiskConstant@DATA_NORMAL_STATUS}
  </select>

  <resultMap id="UserResultMap" type="group.xuxiake.common.entity.User" >
    <id column="user_id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="total_memory" property="totalMemory" jdbcType="BIGINT" />
    <result column="used_memory" property="usedMemory" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="user_nick_name" property="nickName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="WeChatUserListResultMap" type="group.xuxiake.common.entity.show.WeChatUserWidthUserInfo" extends="BaseResultMap" >
    <association property="user" resultMap="UserResultMap" />
  </resultMap>

  <select id="getWeChatUserList" resultMap="WeChatUserListResultMap" >
    select
    wechat_user.id, wechat_user.avatar_url, wechat_user.city, wechat_user.country, wechat_user.gender, wechat_user.language, wechat_user.nick_name, wechat_user.province, wechat_user.openid, wechat_user.user_id,
    wechat_user.status, wechat_user.create_time, wechat_user.update_time,
    x_user.username, x_user.password, x_user.sex, x_user.real_name, x_user.reg_time, x_user.total_memory, x_user.used_memory, x_user.phone,
    x_user.email, x_user.user_status, x_user.avatar, x_user.signature, x_user.nick_name AS user_nick_name
    from x_wechat_user wechat_user
    LEFT JOIN x_user x_user ON x_user.id = wechat_user.user_id
    <where>
      <if test="params.searchText != null and params.searchText != ''">
        AND (wechat_user.city LIKE CONCAT('%', #{params.searchText}, '%') OR wechat_user.country LIKE CONCAT('%', #{params.searchText}, '%') OR wechat_user.province LIKE CONCAT('%', #{params.searchText}, '%') OR wechat_user.nick_name LIKE CONCAT('%', #{params.searchText}, '%'))
      </if>
      <if test="params.gender != null">
        AND wechat_user.gender = #{params.gender}
      </if>
      <if test="params.status != null">
        AND wechat_user.status = #{params.status}
      </if>
      <if test="params.startTime != null and params.endTime != null">
        AND (wechat_user.create_time &lt;= #{params.endTime} AND wechat_user.create_time &gt;= #{params.startTime})
      </if>
    </where>
    ORDER BY wechat_user.create_time DESC
  </select>
</mapper>